[submodule "externals/cwalk"]
	path = externals/cwalk
	url = https://github.com/likle/cwalk.git
	branch=v1.2.9
[submodule "externals/cargs"]
	path = externals/cargs
	url = https://github.com/likle/cargs.git
	branch=v1.2.0
[submodule "externals/fff"]
	path = externals/fff
	url = https://github.com/meekrosoft/fff.git
[submodule "externals/unity"]
	path = externals/unity
	url = https://github.com/ThrowTheSwitch/Unity.git
	branch=v2.7.0
