[submodule "externals/argparse"]
	path = externals/argparse
	url = https://github.com/cofyc/argparse.git
[submodule "externals/munit"]
	path = externals/munit
	url = https://github.com/nemequ/munit.git
[submodule "externals/cwalk"]
	path = externals/cwalk
	url = https://github.com/likle/cwalk.git
[submodule "externals/fff"]
	path = externals/fff
	url = https://github.com/meekrosoft/fff.git
