version: 0.7.{build}

os: Visual Studio 2017
configuration: Release

environment:
  matrix:
    - compiler: msvc-15-seh
      build_system: cmake
      CMAKE_GENERATOR: Visual Studio 15 2017 Win64
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
      MSVC_PLATFORM: amd64
      BITS: 64

    - compiler: msvc-15-seh
      build_system: cmake
      CMAKE_GENERATOR: Visual Studio 15 2017
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
      MSVC_PLATFORM: x86
      BITS: 32

install:
  - cd ..
  - ps: Invoke-WebRequest "https://github.com/akheron/jansson/archive/v2.12.zip" -OutFile "jansson.zip"
  - ps: Expand-Archive jansson.zip -DestinationPath .
  - cd jansson-2.12
  - md install
  - md build
  - cd build
  - cmake -DJANSSON_BUILD_DOCS=OFF -DJANSSON_WITHOUT_TESTS=ON -G "%CMAKE_GENERATOR%" -DCMAKE_INSTALL_PREFIX=../install ..
  - cmake --build . --config Release
  - cmake --build . --config Release --target install
  - cd ../../Etripator
  - git submodule update --init --recursive

before_build:
  - call "C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\vcvars%BITS%.bat"
  - mkdir install
  - mkdir build
  - cd build 
  - cmake -G "%CMAKE_GENERATOR%" -DCMAKE_INSTALL_PREFIX=../install -DJANSSON_INCLUDE_DIR=../../jansson-2.12/install/include -DJANSSON_LIBRARY=../../jansson-2.12/install/lib/jansson.lib ..

build_script:
  - cmake --build . --config Release
  - cmake --build . --config Release --target install

after_build:
   - cd ../install
   - 7z a ../etripator.zip * -tzip
   
artifacts:
  - path: etripator.zip
    name: etripator-v${appveyor_build_version}-%MSVC_PLATFORM%.zip

deploy:
  release: etripator-v${appveyor_build_version}
  description: 'Etripator msvc15 %MSVC_PLATFORM% build'
  provider: GitHub
  auth_token:
    secure: xRIravp3mvMiAgogn6KGuK1yrolmSJUsum/wPXwu82bh97O7YkuQ3B178ac+WHml
  artifact: /etripator.*\.zip/
  draft: false
  prerelease: false
  on:
    branch: master
    appveyor_repo_tag: true  
  
